<div class="card bg-yellow-100 p-4 my-6">
    <h3>COVID-19 Update</h3>
    <p>Unfortunately, with these uncertain times, SwimMac has made the difficult decision to cancel Ultra this year. Thank you so much for your interest in this annual event and we hope to see you at next year’s Ultra, under much better circumstances.   </p>
</div>