---
layout: base.njk
title: Event Schedule
---

<main id="main" class="bg-gray-100 overflow-hidden">
   {% banner title, {image: 'details-hero.jpg' } %}

    <div class="container my-6">
        {% include 'covid.njk' %}

    </div>

</main>