---
layout: base.njk
title: Home
name: Home
---

<div class="flex items-start mb-3 p-4 bg-cover bg-fixed bg-center" style="min-height: 75vh; background-image: url('/static/ultra-hero.jpg');">
    <div class="bg-white bg-opacity-75 p-4">
        <img class="" src="/static/ultra-logo.svg" style="width: 350px;" alt="SwimMAC Carolina Ultra" data-was-processed="true">
    </div>

    <!-- <div class="cell shrink grid-x align-top">
        <div class="cell shrink" style="padding: 1rem; background: rgba(255,255,255,0.6);">
            <iframe src="https://free.timeanddate.com/countdown/i6o37z69/n412/cf11/cm0/cu1/ct0/cs1/ca0/cr0/ss0/cacf97900/cpc000/pct/tcfff/fs120/szw600/szh253/tatThe%20Ultra%20Meet/tac000/tpc000/matbegins%20in/mac000/mpc000/iso2019-06-13T13:00:00" allowTransparency="true" frameborder="0" width="294" height="129"></iframe>
        </div>
    </div> -->
</div>

<div class="container">
    <div class="flex flex-wrap mb-4 -mx-4">
        <div class="w-full md:w-1/2 p-4">
            <article id="post-1314" class="post-1314 page type-page status-publish hentry wpautop">
                <div class="entry-content">
                    <h2>2020 Charlotte Ultra Meet</h2>


                    {% include 'covid.njk' %}
                </div>
            </article>
        </div>

        <div class="w-full md:w-1/2 p-4">
            <div class="responsive-embed widescreen">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GYoRyFn9McE?rel=0&amp;modestbranding=1&amp;autohide=1&amp;showinfo=0&amp;controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>