---
layout: base.njk
title: Meet Accommodations
name: meet-accommodations
---
{% set pages = collections.pages %}

{% banner title, {image: 'accommodations.jpg' } %}

<div class="container my-6">
    {% include 'covid.njk' %}

    <div class="card p-4">
        {% for content in pages %}
        {% if content.data.title === "Accommodations" %}

        {{ content.templateContent | safe }}
        {% endif %}
        {% endfor %}
    </div>
</div>