---
layout: base.njk
title: Meet Details
name: meet-details
---

{% set pages = collections.pages %}

{% banner title, {image: 'details-hero.jpg' } %}

<div class="container my-6">
    {% include 'covid.njk' %}

    <div class="card p-4">
        {% for content in pages %}
        {% if content.data.title === "Meet Details" %}

        {{ content.templateContent | safe }}
        {% endif %}
        {% endfor %}
    </div>
</div>